
section {
    background-image: url(../images/bg-desktop.svg);
    height: 100vh;
    background-color:#674BB1 ;
    background-repeat:no-repeat ;
}
h1 {
    font-size: 5rem;
    font-weight: 900;
}
p{
    font-size: 1.5rem;

}
.btn-outline-light {
    background-color: #eb52cd !important;
}
.btn-outline-light:hover {
    color: #fff !important;
    background-color:#52ebca5e !important
}